body {
	width:610px;
	height:610px;
	margin:auto;
	margin-top:20px;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	color: #444;
	border-radius: 3px;
	border: 1px solid #ccc;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

h1 {
	font-size: 28px;
	margin-top:30px;
	color: #34b3a0;
	text-align:center;
}

h2 {
	text-align:center;
	font-size: 18px;
	color: #34b3a0;
}

a {
	color: #239fb3;
}

.field_container {
	margin-top:10px;
	margin-left:50px;
	width: 510px;
	height: 365px;
}

.turn_container{
	margin-top: 10px;
	margin-left:50px;
	width: 512px;
	height: 40px;
}

#tips{
	float:left;
	padding-left: 10px;
	font-size: 12px;
	font-weight: bold;
	color: #277f6b;
	border: 1px solid #34b3a0;
	width: 415px;
	height: 33px;
	background: #c6e8dd;
	display: inline-block;
}

#turn_field {
	float:left;
	outline: none;
	padding-left: 10px;
	width: 425px;
	height: 35px;
	border: 1px solid #34b3a0;
}

#turn_field:hover {
	border: 1px solid #32dcc3;
}

input[type=submit] {
	outline: none;
	width: 80px;
	height: 35px;
	border: 1px solid #34b3a0;
}

#turn_btn {
	float:right;
	background: white;
	color: #34b3a0;
}

#turn_btn:hover {
	border: 1px solid #32dcc3;
	color: #32dcc3;
}

#back_btn {
	float:right;
	background: #34b3a0;
	color: white;
}

#back_btn:hover {
	border: 1px solid #32dcc3;
	background: #32dcc3;
}

#board{
	width: 364px;
	height: 364px;
	border: 1px solid #34b3a0;
	background-image:url(../img/board.png);
}

.position {
	width: 52px;
	height: 52px;
	float:left;
	display: inline-block;
}
.white,
.black,
.none {
	width: 26px;
	height: 26px;
	border-radius:12px;
	margin:12px;
	font-size:13px;
	text-align: center;
}
.text {
	padding-top: 5px;
}

.white {
	color: black;
}
.black {
	color: white;
}
.none {
	color: white;
}

#white,
#black,
#board {
	float:left;
	display: inline-block;
}

#white,
#black {
	width: 70px;
	height: 364px;

}

.whiteStone,
.blackStone {
	width: 25px;
	height: 5px;
	margin-left:22px;
	margin-top:15px;
	border-radius:2px;
	border: 1px solid gray;
}

.whiteStone,
.white{

	background: #fefffd;
}
.blackStone,
.black {
	background: #5d5d5d;
}


