body {
    width:610px;
	height:850px;
	margin:auto;
	margin-top:20px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    color: #444;
	border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

a {
	color: #239fb3;
}

h1 {
	font-size: 28px;
	margin-top:30px;
	color: #34b3a0;
	text-align: center;
}
h2 {
	text-align:center;
	font-size: 18px;
	color: #34b3a0;
}


input[type=submit] {
    outline: none;
    width: 80px;
    height: 35px;
    border: 1px solid #34b3a0;
}


#back_btn {
	margin-top:20px;
	margin-right:50px;
	float:right;
	background: #34b3a0;
	color: white;
}


#back_btn:hover {
    border: 1px solid #32dcc3;
	background: #32dcc3;
}

#turns{
	outline: none;
	border: 1px solid #34b3a0;
	margin-left:50px;
	width:505px;
	height:600px;
}