
body {
    width:610px;
	height:610px;
	margin:auto;
	margin-top:20px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    color: #444;
	border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

h1 {
	font-size: 28px;
	margin-top:30px;

	color: #34b3a0;
	text-align:center;
}

h2 {
	font-size: 18px;
	color: #34b3a0;
	padding-left:20px;
}


.play_container,
.create_container,
.wait_container  {
	margin-top: 10px;
	width: 200px;
	display: inline-block;
}

.play_container,
.create_container {
	float:left;
}

.buttons_container {
	width:100%;
	height:40px;
}

li {
	margin: 5px;
}

em {
	font-size: 10px;
    color: #7c7c7c;
	font-style: italic;
}

a {
	color: black;
	text-decoration: none;
}

input[type=submit] {
	
    outline: none;
    width: 80px;
    height: 35px;
	float: left;
	margin-right:5px;
	display: inline-block;
    border: 1px solid #34b3a0;
	
}

#create_btn{
	margin-left: 330px;
	background: white;
	color: #34b3a0;
}

#profile_btn,
#back_btn {
	margin-left: 0px;
	background: #34b3a0;
	color: white;
}

#create_btn:hover {
    border: 1px solid #32dcc3;
	color: #32dcc3;
}


#profile_btn:hover,
#back_btn:hover {
    border: 1px solid #32dcc3;
	background: #32dcc3;
}


