

body {
	width:800px;
	height:400px;
	margin:auto;
	margin-top:20px;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	color: #444;
	border-radius: 3px;
	border: 1px solid #ccc;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

h1 {
	font-size: 28px;
	color: #34b3a0;
}

.addition {
	color: #7c7c7c;
	font-style: italic;
}

.logo {
	margin-top:40px;
	margin-left:50px;
	width: 200px;
	float: left;
}


.main_container {
	margin-top:20px;
	width: 500px;
	padding-left: 20px;
	display: inline-block;


}


.text{
	outline: none;
	padding-left: 10px;
	width: 190px;
	height: 35px;
	margin-right: 5px;
	border: 1px solid #34b3a0;

}

.text:hover {
	border: 1px solid #32dcc3;
}

input[type=submit] {
	outline: none;
	width: 80px;
	height: 35px;
	border: 1px solid #34b3a0;

}

#loginBtn{
	background: white;
	color: #34b3a0;
}

#signUpBtn{
	float:right;
	margin-right:22px;
	background: #34b3a0;
	color: white;
}

#loginBtn:hover {
	border: 1px solid #32dcc3;
	color: #32dcc3;
}


#signUpBtn:hover {
	border: 1px solid #32dcc3;
	background: #32dcc3;
}
.error{
	float:left;
	color: red;
	font-size: 12px;
	margin-top: 5px;
	padding-left: 10px;

}
#btn {
	height: 40px;
}







