body {
    width:610px;
	height: 550px;
	margin:auto;
	margin-top:20px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    color: #444;
	border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}


h1 {
	font-size: 28px;
	margin-top:30px;
	color: #34b3a0;
	text-align: center;
}

h2 {
	font-size: 18px;
	color: #34b3a0;
	padding-left:20px;
}

em {
	text-align:center;
	font-size: 18px;
	color: #34b3a0;
}

li {
	margin: 5px;
}

a {
	color: black;
	text-decoration: none;
}
.text {
	margin-top: 10px;
}

#text {
	margin-left: 50px;
	height: 434px;
	width: 230px;
	float: left;
}

#game_history{
	margin-left: 10px;
	height: 434px;
	width: 270px;
	border: 1px solid #34b3a0;
}

#text,
#game_history {
	display: inline-block;
}

input[type=submit] {
    outline: none;
    width: 90px;
    height: 35px;
    border: 1px solid #34b3a0;
	display: inline-block;

}

#save_btn {
	float: left;
	margin-top: 14px;
	margin-right: 44px;
}
#back_btn_btn {
	margin-top: 10px;
	margin-right: 5px;
}

#save_btn,
#back_btn {
	background: #34b3a0;
	color: white;
}

#save_btn:hover,
#back_btn:hover {
    border: 1px solid #32dcc3;
	background: #32dcc3;
}

.text,
.label,
#gender,
#birthday,
#about {
	width: 225px;
	margin-top: 10px;
	padding-left: 10px;
}

.text {
	outline: none;
	height: 31px;
	border: 1px solid #34b3a0;
}

#gender,
#birthday {
	height: 31px;
}

#about {
	outline: none;
	height: 80px;
	border: 1px solid #34b3a0;
}

.number {
	text-align:center;
	outline: none;
	height: 25px;
	border: 1px solid #34b3a0;
}

#date {
	outline: none;
	height: 25px;
	border: 1px solid #34b3a0;
}


.text:hover,
.number:hover,
#about:hover,
#date:hover {
	border: 1px solid #32dcc3;
}