body {
	width:610px;
	height:550px;
	margin:auto;
	margin-top:20px;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	color: #444;
	border-radius: 3px;
	border: 1px solid #ccc;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

h1 {
	font-size: 28px;
	margin-top:30px;
	color: #34b3a0;
	text-align: center;
}

.text ,
#gender,
#birthday,
#about {
	width: 500px;
	margin-left:50px;
	margin-top: 10px;
	padding-left: 10px;
}

.text {
	outline: none;
	height: 31px;
	border: 1px solid #34b3a0;
}

#gender,
#birthday {
	height: 31px;
}

#about {
	outline: none;
	height: 80px;
	border: 1px solid #34b3a0;
}

.number {
	text-align:center;
	outline: none;
	height: 25px;
	border: 1px solid #34b3a0;
}

#date {
	outline: none;
	height: 25px;
	border: 1px solid #34b3a0;
}


.text:hover,
.number:hover,
#about:hover,
#date:hover {
	border: 1px solid #32dcc3;
}

input[type=submit] {

	outline: none;
	width: 80px;
	height: 35px;
	border: 1px solid #34b3a0;
	float:left;
	display: inline-block;
	margin-right:10px;

}

#signUpBtn{
	margin-top:50px;
	margin-left: 390px;
	background: white;
	color: #34b3a0;
}


#signUpBtn:hover {

	border: 1px solid #32dcc3;
	color: #32dcc3;
}

#backBtn{
	margin-top:35px;
	background: #34b3a0;
	color: white;
}


#backBtn:hover {
	border: 1px solid #32dcc3;
	background: #32dcc3;
}